/* region Common Styles Mobile */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
/* endregion Common Styles Mobile */

/* region Common Styles Tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* endregion Common Styles Tablet */

/* region Common Styles Desktop */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* endregion Common Styles Desktop */
/*-------------/endregion Common Styles-------------*/

/*-------------region Header Styles-------------*/

/* region Header Styles Mobile */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  display: block;
  padding: 16px 0;
}

.logo-header .logo-part {
  color: #2e2f42;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}
/* endregion Header Styles Mobile */

/* region Header Styles Tablet */

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }

  .navigation-link {
    position: relative;
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover::after,
  .navigation-link:focus::after,
  .navigation-link.current::after {
    opacity: 1;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover,
  .navigation-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .navigation-link.current {
    color: #404bbf;
  }
}
/* endregion Header Styles Tablet */

/* region Header Styles Desktop */

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* endregion Header Styles Desktop */
/*-------------/endregion Header Styles-------------*/

/* -------------region Mobile Menu Styles------------- */

/* region Mobile Menu Styles Mobile */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover,
.mobile-menu-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close-button:hover .mobile-menu-close-button-icon,
.mobile-menu-close-button:focus .mobile-menu-close-button-icon {
  fill: #ffffff;
}

.mobile-menu-navigation {
  margin-bottom: auto;
}

.mobile-menu-navigation-item {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-navigation-item:hover,
.mobile-menu-navigation-item:focus {
  cursor: pointer;
  color: #404bbf;
}

.mobile-menu-contacts {
  font-style: normal;
  margin-bottom: 40px;
}

.mobile-menu-contacts-item {
  margin-bottom: 24px;
}

.mobile-menu-contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus {
  color: #404bbf;
}

.mobile-menu-social-list {
  display: flex;
  gap: calc((100% - 160px) / 3);
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: #404bbf;
}

.mobile-menu-social-icon {
  fill: #f4f4fd;
}
/* endregion Mobile Menu Styles Mobile */
/* region Mobile Menu Styles Tablet*/

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* endregion Mobile Menu Styles Tablet*/
/* -------------/endregion Mobile Menu Styles------------ */

/*----------------region Hero Styles-------------*/

/* region Hero Styles Mobile */

.hero-section {
  max-width: 320px;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgraund-image/hero_mob.jpg);
  background-size: cover;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  padding: 72px 0;
}

@media screen and (max-widht: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-image/hero_mob@2x.jpg);
  }
}

.hero-title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  max-width: 160px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  display: block;
  white-space: nowrap;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}
/* endregion Hero Styles Mobile */
/* region Hero Styles Tablet */
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-image/hero_tab.jpg);
    padding: 112px 0;
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-widht: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-image/hero_tab@2x.jpg);
  }
}
/* endregion Hero Styles Tablet */
/* region Hero Styles Desktop */

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-image/hero_desktop.jpg);
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

@media screen and (min-widht: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-image/hero_desktop@2x.jpg);
  }
}
/* endregion Hero Styles Desktop */
/*-------------/endregion Hero Styles--------------*/

/*-------------region Benefits Styles------------*/

/* region Benefits Styles Mobile */

.benefits-section {
  padding: 96px 0;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.benefits-item-icon-wrapper {
  display: none;
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* endregion Benefits Styles Mobile */
/* region Benefits Styles Tablet */

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-subtitle {
    text-align: left;
  }
}
/* endregion Benefits Styles Tablet */
/* region Benefits Styles Desktop */

@media screen and (min-width: 1158px) {
  .benefits-section {
    padding: 120px 0;
  }

  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-list-icon-wrapper {
    display: flex;
  }

  .benefits-item-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-list-text {
    font-weight: 400;
  }
}
/* endregion Benefits Styles Desktop */
/*-------------/endregion Benefits Styles------------*/

/*-------------region Team Styles------------*/

/* region Team Styles Mobile */

.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title,
.portfolio-title {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container {
  display: block;
  align-items: center;
  padding: 32px 0;
}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
/* endregion Team Styles Mobile */
/* region Team Styles Tablet */

@media screen and (min-width: 768px) {
  .team-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .team-item {
    width: 264px;
  }
}
/* endregion Team Styles Tablet */
/* region Team Styles Desktop */

@media screen and (min-width: 1158px) {
  .team-list {
    max-width: 1128px;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}
/* endregion Team Styles Desktop */
/*-------------endregion Team Styles------------*/

/*------------region Portfolio Styles------------*/
/* region Portfolio Styles Mobile */

.portfolio-section {
  padding: 96px 0;
}

.portfolio-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
}

.portfolio-item {
  width: 288px;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-box {
  overflow: hidden;
  position: relative;
}

.portfolio-item:hover .overlay {
  cursor: pointer;
  transform: translateY(0%);
}

.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 288px;
  height: 120px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  margin-bottom: 32px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  overflow: auto;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* endregion Portfolio Styles Mobile */
/* region Portfolio Styles Tablet */

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-container {
    height: 120px;
    width: 356px;
  }
}
/* endregion Portfolio Styles Tablet */
/* region Portfolio Styles Desktop */

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-container {
    padding: 32px 16px;
    width: 360px;
    height: 120px;
  }
}
/* endregion Portfolio Styles Desktop */
/*------------/endregion Portfolio Styles------------*/

/*------------region Fotter Styles------------*/

/* region Fotter Styles Mobile */

.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-footer {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.logo-footer .logo-part {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
  margin-bottom: 72px;
}

.social-media-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 72px;
}

.social-link-icon {
  fill: #f4f4fd;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}

.subscribe-form-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.subscribe-input {
  padding-left: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.6;
}

.subscribe-input:focus {
  border-color: #31d0aa;
}

.subscribe-input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.subscribe-button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button-icon {
  margin-left: 16px;
}
/* endregion Fotter Styles Mobile */
/* region Fotter Styles Tablet */

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo-footer {
    justify-content: flex-start;
  }

  .social-media-text {
    justify-content: flex-start;
    margin-left: 24px;
  }

  .social-list-footer {
    margin-left: 24px;
  }

  .subscribe-form {
    display: inline-flex;
  }

  .subscribe-form-text {
    justify-content: flex-start;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-button {
    margin-left: 24px;
  }
}
/* endregion Fotter Styles Tablet */
/* region Fotter Styles Desktop */

@media screen and (min-width: 1158px) {
  .footer-wrapper {
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .social-media-text,
  .social-list-footer {
    margin-left: 120px;
  }

  .subscribe-input,
  .subscribe-form-text {
    margin-left: 80px;
  }
}
/* endregion Fotter Styles Desktop */
/*------------/endregion Fotter Styles------------*/

/* ---------region Modal Window Styles--------- */

/*region Modal Window Styles Mobile */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  overflow: auto;
  padding: 72px 16px 24px 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-application {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.application-form-field-wrapper {
  margin-bottom: 8px;
}

.application-form-field-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.application-form-input-wrapper {
  position: relative;
}

.application-form-field-input {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-field-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.application-form-field-input:focus + .application-form-input-icon {
  fill: #4d5ae5;
}

.application-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-input-icon:focus {
  fill: #4d5ae5;
}

.application-form-comment-wrapper {
  margin-bottom: 16px;
}

.textarea-application-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-application-form-comment::placeholder {
  color: gba(46, 47, 66, 0.4);
}

.textarea-application-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.application-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.application-form-checkbox:checked
  + .application-form-checkbox-label
  > .application-form-custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.application-form-checkbox:focus
  + .application-form-checkbox-label
  > .application-form-custom-checkbox {
  border-color: #4d5ae5;
}

.application-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.application-form-custom-checkbox {
  flex-shrink: 0;
}

.application-form-policy-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.application-form-submit-button {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  padding: 16px 24px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-submit-button:hover,
.application-form-submit-button:focus {
  background-color: #404bbf;
}
/* endregion Modal Window Styles Mobile */
/* region Modal Window Styles Tablet and Desktop */

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
/* endregion Modal Window Styles Tablet and Desktop */

/* ---------/ endregion Modal Window Styles--------- */
